@{
    Layout = "_Layout";
}

<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="UTF-8">
    <title>@ViewData["Title"] - CodingLab</title>
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="~/css/sideBar.css" />
    <script src="~/js/sideBar.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body enctype="multipart/form-data">
    <div class="sidebar">
        <div class="logo-details">
            <i class='bx bxl-c-plus-plus icon'></i>
            <div class="logo_name">AquaSense</div>
            <i class='bx bx-menu' id="btn"></i>
        </div>
        <ul class="nav-list">
            <li>
                <i class='bx bx-search'></i>
                <input type="text" placeholder="Search...">
                <span class="tooltip">Search</span>
            </li>
            <li>
                <a href="#" onclick="CarregaPaginaCentral('/Home/Index')">
                    <i class='bx bx-grid-alt'></i>
                    <span class="links_name">Dashboard</span>
                </a>
                <span class="tooltip">Dashboard</span>
            </li>
            @if (ViewBag.Adm)
            {
                <li>

                    <a href="#" onclick="CarregaPaginaCentral('/Usuario/ExibeUsuario')">
                        <i class='bx bx-user'></i>
                        <span class="links_name">Usuário</span>
                    </a>
                    <span class="tooltip">Usuário</span>
                </li>
            } 
            @if (ViewBag.Adm)
            {
                <li>
                    <a href="#" onclick="CarregaPaginaCentral('/ConjuntoHabitacional/Index')">
                    <i class='bx bx-building-house'></i>
                    <span class="links_name">Conjunto Habitacional</span>
                </a>
                <span class="tooltip">Conjunto Habitacional</span>
                </li>
            }
            else if (ViewBag.IdApartamento != null && ViewBag.IdApartamento > 0)
            {
                <li>
                    <a href="#" onclick="CarregaPaginaCentral('/Apartamento/CarregaApartamento?idApartamento=' + @ViewBag.IdApartamento)">
                        <i class='bx bx-building-house'></i>
                        <span class="links_name">Apartamento</span>
                    </a>
                    <span class="tooltip">Apartamento</span>
                </li>
            }
            @if (ViewBag.Adm)
            { 
                <li>
                    <a href="#" onclick="CarregaPaginaCentral('/Sensor/Index')">
                        <i class='bx bx-broadcast'></i>
                        <span class="links_name">Sensor</span>
                    </a>
                    <span class="tooltip">Sensor</span>
                </li>
            } 
@*             <li>
                <a href="#" onclick="CarregaPaginaCentral('/Carteira/ExibeMovimentacao')">
                    <i class='bx bx-dollar'></i>
                    <span class="links_name">Contas</span>
                </a>
                <span class="tooltip">Contas</span>
            </li> *@
            <li>
                <a href="#" onclick="CarregaPaginaCentral('/Sobre/Index')">
                    <i class='bx bx-info-circle'></i>
                    <span class="links_name">Sobre</span>
                </a>
                <span class="tooltip">Sobre</span>
            </li>
            <li class="profile">
                <div class="profile-details">
                    <img src="data:image/jpeg;base64,@ViewBag.ImagemBase64" alt="profileImg">
                    <div class="name_job">
                        <div class="name">@ViewBag.LoginUsuario</div>
                    </div>
                    <a type="button" href="@Url.Action("LogOff", "Login")">
                        <i class='bx bx-log-out' id="log_out"></i>
                    </a>
                </div>
            </li>
        </ul>
    </div>
    <section id="content-container" class="home-section">
        @RenderBody()
    </section>

</body>
</html>
